@import '_helpers';

.breadcrumb-container {
    background: $light-gray;

    .breadcrumb-bar {
        color: $gray;

        .categories {
            padding: $small-space 0px $small-space 0;
            font-size: $font-size-small;
        }
    }
}
