body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background: #EEE;
}

.general-container {
    display: flex;
    flex-direction: column;
}

.bottom-bar {
    height: 60px;
    background: #EEE;
}

