@import '_helpers';

body {
    font-family: sans-serif;
    font-size: $font-size-normal;
    color: $black;
    background: $light-gray;
}

.bottom-bar {
    height: 60px;
    background: $light-gray;
}
