.items-list {

    .content {
        height: 100%;
        background: #FFF;
    }

    .item {
        display: flex;
        padding: 16px;
        cursor: pointer;
    }

    .photo {
        min-width: 180px;
        min-height: 180px;

        img {
            max-width: 180px;
            max-height: 180px;
        }
    }
}