@import '_helpers';

*:focus, button:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

form {
    display: flex;
    margin: 0;

    input {
        width: 68vw;
        height: 38px;
        padding-left: 10px;
        border: 1px;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    .submitBtn {
        background-image: url('../images/ic_Search.png');
        background-repeat: no-repeat;
        height: 38px;
        width: 36px;
        background-position: center;
        border: none;
        background-color: $light-gray;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        cursor: pointer;
    }

    @include mq(retina) {
        input {
            height: 45px;
            font-weight: 300;
            font-size: $font-size-medium;
        }

        .submitBtn {
            background-image: url('../images/ic_Search@2x.png.png');
            background-repeat: no-repeat;
            background-size: 22px 22px;
            height: 46px;
            width: 43px;
        }
    }

}

.header {
    .bar {
        background-color: $yellow;
        height: 70px;
        align-items: center;
    }

    .form-section {
        @include flex-center-vert;
    }

    .logo {
        background-image: url('../images/Logo_ML.png');
        background-repeat: no-repeat;
        width: 53px;
        height: 37px;
        cursor: pointer;
    }

    @include mq(retina) {
        .bar {
            height: 80px;
        }

        .logo {
            background-image: url('../images/Logo_ML@2x.png.png');
            background-size: 70px 50px;
            width: 70px;
            height: 50px;
            cursor: pointer;
        }
    }

    .logo-section {
        display: flex;
        flex-direction: row-reverse;
    }
}
